<h2>
  IP address
  <span class="links">
    <%= link_to '#html', ip_path %>
    <%= link_to '#json', ip_path(format: :json) %>
  </span>
</h2>

<table id="ip-table">
  <tr>
    <td>IP address:</td>
    <td><%= @ip %></td>
    <td class="links">
      <%= link_to '#text', ip_path(format: :text) %>
    </td>
  </tr>
  <tr>
    <td>Host name:</td>
    <td><%= @host %></td>
    <td class="links">
      <%= link_to '#text', host_path(format: :text) %>
    </td>
  </tr>
</table>